<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{css/common.css}" rel="stylesheet"/>
    <link th:href="@{css/design.css}" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link th:href="@{bootstrap-4.0.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <script th:src="@{scripts/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <title>礼知遇-礼物专属定制</title>
</head>
<body>
<div class="design container">
    <div class="row designer_wrapper">
        <!-- main design canvas-->
        <div class="col-sm-9 main_designer">
            <div id="canvases" style="border:1px solid #ffffff">test</div>
        </div>
        <div class="tools animated slideInDown">
            <div class="btn-group1">
                <div class="btn-tool">
                    <a id="add-text-button" href="#" title="添加文字">
                        <i class="fa fa-font fa-2x"></i>
                        <p class="">添加文字</p>
                    </a>
                </div>
                <div class="btn-tool">
                    <a id="upload-pic-button" href="#" title="手绘">
                        <i class="fa fa-cloud-upload fa-2x"></i>
                        <p class="">手绘</p>
                    </a>
                </div>
                <div id="ImageLibrary" class="btn-tool">
                    <a id="add-pic-button" data-toggle="modal" data-target="#add-pic" href="#" title="图片库">
                        <i class="fa fa-photo fa-2x"></i>
                        <p class="">图片库</p>
                    </a>
                </div>
            </div>
            <div class="btn-group2">
                <a id="preview_button" class="btn-cci btn-cci-default preview-button" href="#" data-toggle="modal"
                   data-target="#preview-pic" title="预览">
                    <i class="fa fa-eye"></i>&nbsp;&nbsp;预览
                </a>
                <a id="finish" class="btn-cci btn-cci-primary" href="#" title="完成设计">完成设计</a>
            </div>
        </div>

        <!--models-->
        <div id="add-pic" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add-pic"
             data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">选择图片</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //hide some component
    $(function () {

    });

</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script th:src="@{bootstrap-4.0.0/js/bootstrap.min.js}" type="text/javascript"></script>
</body>
</html>