<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no shrink-to-fit=no">

    <link th:href="@{css/common.css}" rel="stylesheet"/>
    <link th:href="@{css/design.css}" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link th:href="@{bootstrap-4.0.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>

    <script th:src="@{scripts/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <script th:src="@{bootstrap-4.0.0/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{scripts/fabric.js}" type="text/javascript"></script>
    <script th:src="@{scripts/popper.min.js}" type="text/javascript"></script>
    <title>礼知遇-礼物专属定制</title>
</head>
<body>
<div class="design container">
    <div class="row" id="toolbar" style="display:none">
        <div class="btn-group col-xs-4" id="tool-layer-btn">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" id="layer-active-button">
                图层
            </button>
            <ul class="dropdown-menu">
                <li class="enable"><a href="#" id="move-front-btn"><img src="img/bring-front.png"/><span
                        style="padding:5px 8px">移到顶层</span></a></li>
                <li><a href="#" id="move-forward-btn"><img src="img/bring-forward.png"/><span
                        style="padding:5px 8px">前移一层</span></a></li>
                <li><a href="#" id="move-backward-btn"><img src="img/bring-backward.png"/><span
                        style="padding:5px 8px">后移一层</span></a></li>
                <li><a href="#" id="move-back-btn"><img src="img/send-back.png"/><span
                        style="padding:5px 8px">移到底层</span></a></li>
            </ul>
        </div>
        <div class="col-xs-4" id="tool-delete-btn">
            <a class="btn btn-danger" href="#" id="delete-active-button">
                <i class="fa fa-trash-o fa-lg"></i> 删除
            </a>
        </div>
        <div class="col-xs-4" id="tool-back-btn">
            <a class="btn btn-info" href="#" id="cancel-button">
                <i class="fa fa-rotate-left fa-lg"></i> 撤销
            </a>
        </div>
        <div class="col-xs-5" id="tool-pensize-btn">
            <label>笔画&nbsp;</label>
            <select id="penWidthControl" style="height:30px">
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="8">8</option>
                <option selected value="10">10</option>
                <option value="12">12</option>
                <option value="14">14</option>
                <option value="16">16</option>
                <option value="18">18</option>
                <option value="20">20</option>
                <option value="22">22</option>
                <option value="24">24</option>
                <option value="26">26</option>
                <option value="28">28</option>
                <option value="30">30</option>
                <option value="32">32</option>
            </select>
        </div>
        <div class="col-xs-3" id="tool-done-btn">
            <a class="btn btn-info" href="#" id="close-draw-button">
                <i class="fa fa-save fa-lg"></i> 结束
            </a>
        </div>
    </div>
    <hr/>
    <div class="row designer_wrapper">
        <!-- main design canvas-->
        <div class="col-sm-9 main_designer">
            <canvas id="canvas" style="border:1px #005cbf solid" width='300' height='400'></canvas>
        </div>
        <div class="tools animated slideInDown">
            <div class="btn-group1">
                <div class="btn-tool">
                    <a id="add-text-button" data-toggle="modal" data-target="#add-text" href="#" title="添加文字">
                        <i class="fa fa-font fa-2x"></i>
                        <p class="">添加文字</p>
                    </a>
                </div>
                <div class="btn-tool">
                    <a id="add-draw-button" href="#" title="手绘">
                        <i class="fa fa-pencil fa-2x"></i>
                        <p class="">手绘</p>
                    </a>
                </div>
                <div id="ImageLibrary" class="btn-tool">
                    <a id="add-pic-button" data-toggle="modal" data-target="#add-pic" href="#" title="图片库">
                        <i class="fa fa-photo fa-2x"></i>
                        <p class="">图片库</p>
                    </a>
                </div>
            </div>
            <div class="btn-group2">
                <a id="preview_button" class="btn-cci btn-cci-default preview-button"
                   href="javascript:openPreviewDialog()" title="预览">
                    <i class="fa fa-eye"></i>&nbsp;&nbsp;预览
                </a>
                <a id="finish" class="btn-cci btn-cci-primary" href="#" title="完成设计">完成设计</a>
            </div>
        </div>

        <!--models-->
        <div id="add-pic" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add-pic"
             data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">选择图片</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs" id="imageNavTabs">
                            <li role="presentation" class="active"><a href="#tab_1" data-toggle="tab">爱情</a></li>
                            <li role="presentation"><a href="#tab_2" data-toggle="tab">企业庆典</a></li>
                            <li role="presentation"><a href="#tab_3" data-toggle="tab">生日节庆</a></li>
                            <li role="presentation"><a href="#tab_4" data-toggle="tab">生肖</a></li>
                            <li role="presentation"><a href="#tab_5" data-toggle="tab">师生同学</a></li>
                            <li role="presentation"><a href="#tab_6" data-toggle="tab">贴纸</a></li>
                            <li role="presentation"><a href="#tab_7" data-toggle="tab">星座</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content" style="padding-top:10px">
                            <div role="tabpanel" class="tab-pane fade in active" id="tab_1">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/aiqing/heart1.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/aiqing/heart2.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/aiqing/heart3.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/aiqing/heart4.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/aiqing/love.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/aiqing/love2.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/aiqing/meigui.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_2">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/qiye/y1.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/qiye/y2.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/qiye/y3.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/qiye/y4.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/qiye/y5.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/qiye/y6.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_3">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/birthday/fu.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/birthday/furudonghai.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/birthday/gift_1.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/birthday/gift_2.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/birthday/gift_3.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/birthday/gou.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/birthday/HAPPY.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/birthday/happy_birth.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/birthday/happy_new_year.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/birthday/pixiu.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/birthday/to_you.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/birthday/yearyear.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_4">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/zodiac/z1.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/zodiac/z2.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/zodiac/z3.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/zodiac/z4.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/zodiac/z5.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/zodiac/z6.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/zodiac/z7.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/zodiac/z8.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/zodiac/z9.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/zodiac/z10.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/zodiac/z11.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/zodiac/z12.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_5">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/schoolmate/s1.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/schoolmate/s1.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/schoolmate/s2.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/schoolmate/s3.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/schoolmate/s4.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/schoolmate/s5.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/schoolmate/s6.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/schoolmate/s7.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/schoolmate/s8.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_6">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/paster/p1.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/paster/p2.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/paster/p3.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/paster/p4.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/paster/p5.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/paster/p6.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/paster/p7.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/paster/p8.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/paster/p9.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_7">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/constellation/c1.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/constellation/c1.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/constellation/c2.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/constellation/c3.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/constellation/c4.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/constellation/c5.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/constellation/c6.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/constellation/c7.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/constellation/c8.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/constellation/c9.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/constellation/c10.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/constellation/c11.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="./img/constellation/c12.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="add-text" class="modal fade" tabindex="-1" role="dialog"
             data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">输入文字</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="inputFont" class="col-sm-2 control-label">字体</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="inputFont" style="height:40px">
                                        <option value="STKaiti">华文楷体</option>
                                        <option value="FZShuTi">方正舒体</option>
                                        <option value="SimSun">宋体</option>
                                        <option value="TimesRoman">TimesRoman</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFontSize" class="col-sm-2 control-label">字号</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="inputFontSize" style="height:40px">
                                        <option value="40">40pt</option>
                                        <option value="44">44pt</option>
                                        <option value="48">48pt</option>
                                        <option value="52">52pt</option>
                                        <option value="56">56pt</option>
                                        <option value="60">60pt</option>
                                        <option value="64">64pt</option>
                                        <option value="68">68pt</option>
                                        <option value="72">72pt</option>
                                        <option value="76">76pt</option>
                                        <option value="80">80pt</option>
                                        <option value="84">84pt</option>
                                        <option value="88">88pt</option>
                                        <option value="92">92pt</option>
                                        <option value="96">96pt</option>
                                        <option value="100">100pt</option>
                                        <option value="104">104pt</option>
                                        <option value="108">108pt</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputText" class="col-sm-2 control-label">布局</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" checked
                                               value="0">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;横排
                                    </label>
                                    <label class="radio-inline" style="width: 80px;">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="1">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;竖排
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputText" class="col-sm-2 control-label">内容</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="inputText"
                                              rows="3"
                                              placeholder="你喜欢的语句"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="save-text-button">添加</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="preview-pic" class="modal fade" tabindex="-1" role="dialog"
             data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">预览效果</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <img id="previewImage" style="border:1px #b3d7ff dashed"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-12 text-center">
                            <a class="btn-cci btn-cci-primary finish_modal" href="#" title="完成设计">完成设计</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openPreviewDialog() {
        var image = $('#previewImage');
        var data = $('#canvas')[0].toDataURL("image/png");
        $(image).attr('src', data);
        $(image).attr('width', $('#canvas')[0].width);
        $(image).attr('height', $('#canvas')[0].height);
        $('#preview-pic').modal('show');
    }

    $(function () {
        $('#imageNavTabs a').click(function (e) {
            e.preventDefault();
            $('#imageNavTabs >li').each(function (index, item) {
                $(item).removeClass("active");
            });
            $(this).parent().addClass("active");
            $(this).tab('show');
        })
    });
</script>
<script th:src="@{scripts/design.js}" type="text/javascript"></script>
</body>
</html>