<!DOCTYPE html>
<html>
<head>
    <title>mycanvas.html</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="content-type" content="text/html; charset=UTF-8">
    <script th:src="@{scripts/jquery-3.2.1.min.js}" type="text/javascript"></script>

    <script th:src="@{scripts/fonts.js}" type="text/javascript"></script>


    <script type="text/javascript">
        $(function () {
            $("#fontSelect").on("change", function () {
                $("#testText").css("font-family", this.value);
                var text = $("#testText").val();
                $.font.load(this.value, text);
            });

            $("#removeFont").on("click", function () {
                $.font.remove("SingleMalta");
            });

        });
    </script>

</head>

<body>
<input id="removeFont" type="button" value="移除字体"/>
<br/>
<select id="fontSelect">
    <option value="SingleMalta">SingleMalta</option>
    <option value="RealitySunday">RealitySunday</option>
    <option value="方舒">方舒</option>
</select>

<input id="testText" type="textbox"/>
</body>

</html>
